*{  box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #5A1D57;
    
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 10px #fff;
}

.header {
    box-shadow: inset 0px 76px 63px 22px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

h3 {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 50px;
 }

 .toggle-menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    z-index: 999;
}

#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.buscador{
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none; 
}

nav.menu {
    font-size: 18px;
    padding: 0px;
}



.kill-bill{
    display: flex;
    flex-direction:row;
    margin-top: 150px;
}

.infopeli {
    margin-left: 50px;
    color: white;
}

.listacapitulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 580px;
    width: fit-content;
}

.capitulo:hover {
    background-color:rgb(213, 166, 189);
    padding: 8px;
    transition: all .2s ease-in-out; 
    box-shadow: 0px 0px 40px -7px rgba(0,0,0,1);
    transform: scale(1.3);
    cursor: pointer; 
    height: 400px;

}


.capitulo {
    border: solid 1px grey;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.5s;
    height: 173px;
    overflow: hidden;
}

.capitulo img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}


h5{
    text-align: right;
}

p{
    text-align: justify;
}

footer{
    padding: 15px;
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.footer {
    text-align: start;
    cursor: pointer;
}

.footer:hover{
    filter: brightness(50%);
    
}


    
.logos{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.redes { 
    display: inline-block;
}

.grupo{
    display: inline-block;
}

.fab{
    display: inline;
    padding: 10px;
    cursor: pointer;
    font-size: xx-large;
}

@media(max-width:650px){
    h1 {
        font-size: 40px;
        padding: 2%;
    }
    .toggle-menu{
        display: block;
    }
    .menu{
        display:none;
    }
    .banner {
        margin-top: 50px;
    }

    .kill-bill{
        margin-top: 100px;
        
    }
    .listacapitulos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
    }

    .infopeli{
        flex-direction: column;
    }
    .listacapitulos{
        flex-wrap: wrap;
        align-items: center;
    }
    .capitulo{
        width: 100%;
    }
    .capitulo:hover{
    background-color:rgb(213, 166, 189);
    padding: 8px;
    transition: all .2s ease-in-out; 
    box-shadow: 0px 0px 40px -7px rgba(0,0,0,1);
    transform: scale(1);
    cursor: pointer; 
    height: 173px;
    }


}

@media (max-width:480px) {

    .no-mobile { display: none;
    }

    .listacapitulos{
        display: grid;
        grid-template-columns: 1fr;
        overflow: scroll;
    }

    .portada {
        width: 50vw;
    }
    .capitulo:hover{
        background-color:rgb(213, 166, 189);
        padding: 8px;
        transition: all .2s ease-in-out; 
        box-shadow: 0px 0px 40px -7px rgba(0,0,0,1);
        transform: scale(1);
        cursor: pointer; 
        height: 173px;
        }
}
