*{  box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #5A1D57;
    
}

a {
    cursor: pointer;
    color: white;
}

.logo {
    height: 60px;
    margin-top: 10px;
    margin-left: 40px;
}

.logotmdb {
    position: initial;
    margin-left: 515px;
    margin-bottom: 100px;
}



a:hover {
    text-shadow: 0 0 10px #fff;
}

.header {
    box-shadow: inset 0px 76px 63px 22px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

h1 {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 50px;
 }

 .toggle-menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.informacionpelicula{
    margin-left: 40px;
}

.titulo {
    font-size: xx-large;
    margin-top: 0;
    display: inline;
}

.estrella {
    margin-top: 20px;
    margin-left: 10px;
}

.restoinfo{
    display: inline;
}


#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
}



.none-decoration {
    text-decoration: none;
}
 .maspelis{
     text-align: center;
     color: white;
    padding: 10px;
 }

 .background {
    background-color: #000;
}

.buscador{
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none; 
  
}

nav.menu {
    font-size: 18px;
}



.kill-bill{
    display: flex;
    flex-direction:row;
    margin-top: 150px;
}

.infopeli {
    display: inline-flex;
    margin-left: 50px;
    color: white;
    
}


img{
    height: 390px;
}

.otraspelis{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contenedor-pelicula {
    position: relative;
}

.contenedor-pelicula:hover{
    transition: all .2s ease-in-out; 
    transform: scale(1.5); 
    cursor: pointer;
}

.foto {
    height: 150px;
    border-radius: 8px;
}

footer{
    padding: 15px;
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.footer {
    text-align: start;
    cursor: pointer;
}

.footer:hover{
    filter: brightness(50%);
    
}
  
.logos{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.redes { 
    display: inline-block;
}

.integrantes {
    display: inline-block;
}

.fab{
    display: inline;
    padding: 10px;
    cursor: pointer;
    font-size: xx-large;
}

@media(max-width:1200px){
    .otraspelis{
        grid-template-columns: repeat(4,1fr);

    }
}

@media(max-width:650px){
    h1 {
        font-size: 40px;
        padding: 2%;
    }
    .toggle-menu{
        display: block;
    }
    .menu{
        display:none;
    }

    .kill-bill{
        margin-top: 100px;
        
    }
    .contenedor-pelicula:hover{
        transition: all .2s ease-in-out; 
        transform: scale(1); 
        cursor: pointer;
    }

    .far{
        display: none;
    }

    .otraspelis{
        grid-template-columns: repeat(2,1fr);

    }
}

@media (max-width:480px){

.portada {
    width: 50vw;
    
}
.otraspelis {
    grid-template-columns: 1fr;
}

.foto{
    height: 250px;
    margin: 2px;
}

.no-mobile {
    display: none;
}

}

/* CSS para favoritas*/

.titulofavs {
    margin-top: 150px;
}

.grupo {
    display: inline-block;
}

