body { 
    background-color: rgb(239, 239, 239);
    margin: 0%;
}


.header {
    background-color: rgb(213, 166, 189);
}


#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10%;
}

.segundomenu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10%;
}
    


h1{
    text-align: center;
    gap: 10px;
}

.texto-encima {
    position: absolute;
    top: 300px;
    left: 10px;
    background-image: url(/MJF-Trabajo-final/Fotos/banner.jpg );
}
section.banner{
    width: 100%;
}

.pulp {
    width: 100%;
}

.verpelicula {
    position: absolute;
    top: 450px;
    left: 10px;
    background-image: url(/MJF-Trabajo-final/Fotos/banner.jpg );
   
}


    


.button{
    background-color: transparent;
    border: black solid;
   
}

.menu{
    border: solid 4px violet;
    display: grid;
    gap: 20px;
    font-size: 20px;
}
.menudos{
    border: solid 4px violet;
    display: grid;
    gap: 20px;
    font-size: 20px;
}

.listapeliculas {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}


