*{ 
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    cursor: pointer;
    color: white;
}

a:hover {
    text-shadow: 0 0 10px #fff;
}

body {
    background-color: rgb(213, 166, 189);
    margin: 0%;
}

.header {
    /* background-color: #292929;
    box-shadow: inset -18px -51px 120px 0px rgba(61,9,61,1); */
    box-shadow: inset 0px 69px 43px -42px rgba(28,28,28,0.86);
    margin-top: 0%;
}


.pag-actual {
    font-size: 25px;

}

#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    align-items: center;
}



.segundomenu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10%;
}
    

h1{
    text-align: center;
    gap: 10px;
    color: white;
    margin: 0%;
}

.contenedor-infopelicula{
    position: absolute;
    top: 300px;
    background-image: url(/MJF-Trabajo-final/Fotos/banner.jpg );
}

.titulo-pelicula{
    font-family: impact, charcoal, sans-serif;
    font-size: 50px;
    margin-left: 6%;
}

.infopelicula {
    color: white;
    max-width: 45%;
    margin-left: 6%;
}

.masinfo{
    margin-left: 6%;
}


.menu-encima{
    position: absolute;
    top: 10px;
    width: 100%;
}

section.banner{
    width: 100%;
    position: relative;
}

.pulp {
    width: 100%;
}


.verpelicula {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(/MJF-Trabajo-final/Fotos/banner.jpg );
}


.button{
    background-color: transparent;
    border: black solid;
   
}

.menu{
    display: grid;
    gap: 20px;
    font-size: 20px;
}
.menudos{
    display: grid;
    gap: 20px;
    font-size: 20px;
}

.listapeliculas {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.listapeliculas{
    margin-right: 10px;
    padding-left: 10px;

}

.verpelicula{
    background: transparent;
    border: none;
    color: white;
}


.foto {
    height: 150px;
    border-radius: 8px;
    width: 100%;
}



.contenedor-pelicula:hover {
    /* background-color: lightgoldenrodyellow; */
    background-color:rgb(213, 166, 189);
    padding: 8px;
    /* border: black solid 3px; */
    transition: all .05s ease-in-out; 
    box-shadow: 0px 0px 40px -7px rgba(0,0,0,1);
    transform: scale(1.3);
    cursor: pointer; 
    height: 300px;
    padding: 20px;
    align-content: center;
    border-radius: 25px;
}

.contenedor-pelicula {
    align-content: center;
    align-items: center;
    align-self: center;
    width: 175px;
    padding: 10px;
    border-radius: 0px;
    transition: all 0.8s;
    height: 167px;
    overflow: hidden;
    ;
}

.pelicula{
    width: 150px;
    padding: 5px;
}

.series-corte{
    padding: 15px;
}

.contenedor-series:hover{
     /* background-color: lightgoldenrodyellow; */
     background-color:rgb(213, 166, 189);
     padding: 8px;
     /* border: black solid 3px; */
     transition: all .05s ease-in-out; 
     box-shadow: 0px 0px 40px -7px rgba(0,0,0,1);
     transform: scale(1.3);
     cursor: pointer; 
     height: 300px;
     padding: 20px;
     align-content: center;
     border-radius: 25px;
}

.contenedor-series {
    align-content: center;
    align-items: center;
    align-self: center;
    width: 175px;
    padding: 10px;
    border-radius: 0px;
    transition: all 0.8s;
    height: 167px;
    overflow: hidden;
}


.listaseries {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.listaseries{
    margin-right: 10px;
    padding-left: 10px;

}