*{ box-sizing: border-box;}
body {
    background-color: rgb(213, 166, 189);
}

.kill-bill{
    display: flex;
    flex-direction:row;
}

.infopeli {
    margin-left: 50px;
}

.listacapitulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

.capitulo:hover {
    background-color: lightgoldenrodyellow;
    padding: 8px;
    border: black solid 3px;
}

.capitulo {
    border: solid 1px grey;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.8s;
}

.capitulo img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}


h5{
    text-align: right;
}

p{
    text-align: justify;
}

/* h4{
    text-align: right;
} */