/* peli */

*{ box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #5A1D57;
    
}

a {
    cursor: pointer;
    color: white;
}

a:hover {
    text-shadow: 0 0 10px #fff;
}

.header {
    box-shadow: inset 0px 76px 63px 22px black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

h1 {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 50px;
 }

 .maspelis{
     text-align: center;
 }

#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
}
.toggle-menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}
.buscador{
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none; 
  
}

nav.menu {
    font-size: 18px;
}

.pag-actual {
    font-size: 25px;
}

.kill-bill{
    display: flex;
    flex-direction:row;
    margin-top: 150px;
}

.infopeli {
    margin-left: 50px;
}


img{
    height: 390px;
}

.otraspelis{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contenedor-pelicula {
    position: relative;
}

.contenedor-pelicula:hover{
    transition: all .2s ease-in-out; 
    transform: scale(1.5); 
    cursor: pointer;
}

.foto {
    height: 150px;
    border-radius: 8px;
}

footer{
    padding: 15px;
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.footer {
    text-align: start;
    cursor: pointer;
}

@media(max-width:1200px){
    .accion, .comedia, .terror, .romance, .documentales{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width:650px){
    h1 {
        font-size: 40px;
        padding: 2%;
    }
    .toggle-menu{
        display: block;
    }
    .menu{
        display:none;
    }
    .generos{
        margin-top: 100px;
    }
    
    .infopelicula{
        max-width: 60%;
    }
    .verpelicula{
        left:auto;
        right: 0;
    }
    .segundomenu{
        flex-direction: column;
        align-items: center;
    }
    .segundomenu li {
        margin-bottom: 10px;
    }
    .accion{
        grid-template-columns: repeat(2,1fr);
    }
}