*{ 
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #5A1D57;
    
}

.logo {
    height: 60px;
    margin-top: 10px;
    margin-left: 40px;
}

a {
    cursor: pointer;
    color: white;
}

a:hover {
    text-shadow: 0 0 10px #fff;
}

.header {
    box-shadow: inset 0px 76px 63px 22px black;
    margin-top: 0%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

h1 {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 50px;
 }

 .toggle-menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    text-decoration: none;
}

#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    align-items: center;
}

.none-decoration {
    text-decoration: none;
}

.buscador{
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none; 
}

nav.menu {
    font-size: 18px;
}



.generos {
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;  
}

.contenedor-pelicula {
    position: relative;

}

.contenedor-pelicula:hover .center{
display: inline-block!important;
transition: all .10s ease-in-out; 
cursor: pointer;
}

.contenedor-pelicula:hover{
    transition: all .2s ease-in-out; 
    transform: scale(1.5); 
    cursor: pointer;
    box-shadow: 0px 0px 24px 3px rgba(28,28,28,1);
    z-index: 999;
}


.center {
position: absolute;
top: 30%;
left: 35%;
display: none!important;
color: white;
}

.accion {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.comedia {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.terror {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.romance {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.documentales {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.foto {
    height: 150px;
    border-radius: 8px;
}

footer{
    padding: 15px;
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer {
    text-align: start;
    cursor: pointer;
}

.footer:hover{
    filter: brightness(50%);
    
}
    
.logos{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

.redes { 
    display: inline-block;
}

.grupo{
    display: inline-block;
}

.fab{
    display: inline;
    padding: 10px;
    cursor: pointer;
    font-size: xx-large;
}

.logotmdb {
    width: 50%;
    height: 100%;
    margin-left: 80px;
}

@media(max-width:1200px){
    .accion, .comedia, .terror, .romance, .documentales{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width:650px){
    h1 {
        font-size: 40px;
        padding: 2%;
    }
    .toggle-menu{
        display: block;
    }
    .menu{
        display:none;
    }
    .generos{
        margin-top: 100px;
    }
    
    .infopelicula{
        max-width: 60%;
    }
    .verpelicula{
        left:auto;
        right: 0;
    }
    .segundomenu{
        flex-direction: column;
        align-items: center;
    }
    .segundomenu li {
        margin-bottom: 10px;
    }
    .accion{
        grid-template-columns: repeat(2,1fr);
    }
}



@media (max-width:480px) {
    .accion, 
    .comedia,
    .terror,
    .documentales,
    .romance {
        grid-template-columns: 1fr; 
    }
    .foto{
        height: 250px;
    }
}

