*{ 
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(213, 166, 189);
}

h1 {
   color: white;
   text-align: center;
   margin: 0%;
}

a {
    cursor: pointer;
    color: white;
}

a:hover {
    text-shadow: 0 0 10px #fff;
}

.header {
    /* background-color: #292929;
    box-shadow: inset -18px -51px 120px 0px rgba(61,9,61,1); */
    background-color:#1c1c1c;
    margin-top: 0%;

}

nav.menu {
    font-size: 18px;
}

#lista {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    align-items: center;
}

.pag-actual {
    font-size: 25px;
}

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

.contenedor-pelicula {
    position: relative;

}

.contenedor-pelicula:hover .center{
display: inline-block!important;

}
.center {
position: absolute;
top: 30%;
left: 35%;
display: none!important;
}

.accion {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
}

.comedia {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
}

.terror {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
}

.romance {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
}

.documentales {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 6px;
}

.foto {
    height: 150px;
    border-radius: 8px;
}

.foto:hover {
    /* background-color: rgb(213, 166, 189); */
    /* padding: 8px; */
    transition: all .2s ease-in-out; 
    transform: scale(1.5); 
    cursor: pointer;
    box-shadow: 0px 0px 24px 3px rgba(28,28,28,1);
}

